<aside class="dashboard-sidebar" id="dashboard-sidebar">
  <div class="dashboard-sidebar__header">
    <a class="dashboard-sidebar-logo" href="#">
      <img src="assets/images/logo/logo.png" alt="image" />
    </a>
    <button
      class="btn btn--icon btn--sm btn--close d-lg-none"
      type="button"
    ></button>
  </div>
  <div class="dashboard-sidebar__body">
    <ul class="dashboard-sidebar-menu">
      <li class="dashboard-sidebar-menu__item active">
        <a class="dashboard-sidebar-menu__link" href="dashboard.html">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 24 24"
            fill="none"
            class="injected-svg"
            data-src="https://cdn.hugeicons.com/icons/dashboard-circle-duotone-standard.svg?v=1.0.0"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            role="img"
            color="CurrentColor"
          >
            <path
              opacity="0.4"
              d="M10.5 6.75C10.5 4.67893 8.82107 3 6.75 3C4.67893 3 3 4.67893 3 6.75C3 8.82107 4.67893 10.5 6.75 10.5C8.82107 10.5 10.5 8.82107 10.5 6.75Z"
              fill="CurrentColor"
            ></path>
            <path
              opacity="0.4"
              d="M21 17.25C21 15.1789 19.3211 13.5 17.25 13.5C15.1789 13.5 13.5 15.1789 13.5 17.25C13.5 19.3211 15.1789 21 17.25 21C19.3211 21 21 19.3211 21 17.25Z"
              fill="CurrentColor"
            ></path>
            <path
              d="M21 6.75C21 4.67893 19.3211 3 17.25 3C15.1789 3 13.5 4.67893 13.5 6.75C13.5 8.82107 15.1789 10.5 17.25 10.5C19.3211 10.5 21 8.82107 21 6.75Z"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linejoin="round"
            ></path>
            <path
              d="M10.5 6.75C10.5 4.67893 8.82107 3 6.75 3C4.67893 3 3 4.67893 3 6.75C3 8.82107 4.67893 10.5 6.75 10.5C8.82107 10.5 10.5 8.82107 10.5 6.75Z"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linejoin="round"
            ></path>
            <path
              d="M21 17.25C21 15.1789 19.3211 13.5 17.25 13.5C15.1789 13.5 13.5 15.1789 13.5 17.25C13.5 19.3211 15.1789 21 17.25 21C19.3211 21 21 19.3211 21 17.25Z"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linejoin="round"
            ></path>
            <path
              d="M10.5 17.25C10.5 15.1789 8.82107 13.5 6.75 13.5C4.67893 13.5 3 15.1789 3 17.25C3 19.3211 4.67893 21 6.75 21C8.82107 21 10.5 19.3211 10.5 17.25Z"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="text">Dashboard</span>
        </a>
      </li>

      <li class="dashboard-sidebar-menu__item">
        <a class="dashboard-sidebar-menu__link" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 24 24"
            fill="none"
            class="injected-svg"
            data-src="https://cdn.hugeicons.com/icons/appointment-01-duotone-standard.svg?v=1.0.0"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            role="img"
            color="CurrentColor"
          >
            <path
              opacity="0.4"
              d="M19 4H5C3.89543 4 3 4.89543 3 6V10H21V6C21 4.89543 20.1046 4 19 4Z"
              fill="CurrentColor"
            ></path>
            <path
              d="M16.5 2V6M7.5 2V6"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M21 13V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H11"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M3 10H21"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M13 19.5L15.5 22L21 16"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="text">My eSIMs</span>
        </a>
      </li>
      <li class="dashboard-sidebar-menu__item">
        <a class="dashboard-sidebar-menu__link" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 24 24"
            fill="none"
            class="injected-svg"
            data-src="https://cdn.hugeicons.com/icons/appointment-01-duotone-standard.svg?v=1.0.0"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            role="img"
            color="CurrentColor"
          >
            <path
              opacity="0.4"
              d="M19 4H5C3.89543 4 3 4.89543 3 6V10H21V6C21 4.89543 20.1046 4 19 4Z"
              fill="CurrentColor"
            ></path>
            <path
              d="M16.5 2V6M7.5 2V6"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M21 13V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H11"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M3 10H21"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M13 19.5L15.5 22L21 16"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="text">Topup History</span>
        </a>
      </li>
      <li class="dashboard-sidebar-menu__item">
        <a class="dashboard-sidebar-menu__link" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 24 24"
            fill="none"
            class="injected-svg"
            data-src="https://cdn.hugeicons.com/icons/appointment-01-duotone-standard.svg?v=1.0.0"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            role="img"
            color="CurrentColor"
          >
            <path
              opacity="0.4"
              d="M19 4H5C3.89543 4 3 4.89543 3 6V10H21V6C21 4.89543 20.1046 4 19 4Z"
              fill="CurrentColor"
            ></path>
            <path
              d="M16.5 2V6M7.5 2V6"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M21 13V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H11"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M3 10H21"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M13 19.5L15.5 22L21 16"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="text">Pending Orders</span>
        </a>
      </li>
      <li class="dashboard-sidebar-menu__item">
        <a class="dashboard-sidebar-menu__link" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 24 24"
            fill="none"
            class="injected-svg"
            data-src="https://cdn.hugeicons.com/icons/appointment-01-duotone-standard.svg?v=1.0.0"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            role="img"
            color="CurrentColor"
          >
            <path
              opacity="0.4"
              d="M19 4H5C3.89543 4 3 4.89543 3 6V10H21V6C21 4.89543 20.1046 4 19 4Z"
              fill="CurrentColor"
            ></path>
            <path
              d="M16.5 2V6M7.5 2V6"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M21 13V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H11"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M3 10H21"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M13 19.5L15.5 22L21 16"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="text">Completed Orders</span>
        </a>
      </li>
      <li class="dashboard-sidebar-menu__item">
        <a class="dashboard-sidebar-menu__link" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 24 24"
            fill="none"
            class="injected-svg"
            data-src="https://cdn.hugeicons.com/icons/appointment-01-duotone-standard.svg?v=1.0.0"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            role="img"
            color="CurrentColor"
          >
            <path
              opacity="0.4"
              d="M19 4H5C3.89543 4 3 4.89543 3 6V10H21V6C21 4.89543 20.1046 4 19 4Z"
              fill="CurrentColor"
            ></path>
            <path
              d="M16.5 2V6M7.5 2V6"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M21 13V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H11"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M3 10H21"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M13 19.5L15.5 22L21 16"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="text">Deposit History</span>
        </a>
      </li>
      <li class="dashboard-sidebar-menu__item">
        <a class="dashboard-sidebar-menu__link" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 24 24"
            fill="none"
            class="injected-svg"
            data-src="https://cdn.hugeicons.com/icons/appointment-01-duotone-standard.svg?v=1.0.0"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            role="img"
            color="CurrentColor"
          >
            <path
              opacity="0.4"
              d="M19 4H5C3.89543 4 3 4.89543 3 6V10H21V6C21 4.89543 20.1046 4 19 4Z"
              fill="CurrentColor"
            ></path>
            <path
              d="M16.5 2V6M7.5 2V6"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M21 13V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H11"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M3 10H21"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M13 19.5L15.5 22L21 16"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="text">Transactions</span>
        </a>
      </li>
      <li class="dashboard-sidebar-menu__item">
        <a class="dashboard-sidebar-menu__link" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 24 24"
            fill="none"
            class="injected-svg"
            data-src="https://cdn.hugeicons.com/icons/appointment-01-duotone-standard.svg?v=1.0.0"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            role="img"
            color="CurrentColor"
          >
            <path
              opacity="0.4"
              d="M19 4H5C3.89543 4 3 4.89543 3 6V10H21V6C21 4.89543 20.1046 4 19 4Z"
              fill="CurrentColor"
            ></path>
            <path
              d="M16.5 2V6M7.5 2V6"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M21 13V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H11"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M3 10H21"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M13 19.5L15.5 22L21 16"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="text">Open Ticket</span>
        </a>
      </li>
      <li class="dashboard-sidebar-menu__item">
        <a class="dashboard-sidebar-menu__link" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 24 24"
            fill="none"
            class="injected-svg"
            data-src="https://cdn.hugeicons.com/icons/appointment-01-duotone-standard.svg?v=1.0.0"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            role="img"
            color="CurrentColor"
          >
            <path
              opacity="0.4"
              d="M19 4H5C3.89543 4 3 4.89543 3 6V10H21V6C21 4.89543 20.1046 4 19 4Z"
              fill="CurrentColor"
            ></path>
            <path
              d="M16.5 2V6M7.5 2V6"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M21 13V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H11"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M3 10H21"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M13 19.5L15.5 22L21 16"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="text">All Tickets</span>
        </a>
      </li>
      <li class="dashboard-sidebar-menu__item">
        <a class="dashboard-sidebar-menu__link" href="#">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="128"
            height="128"
            viewBox="0 0 24 24"
            fill="none"
            class="injected-svg"
            data-src="https://cdn.hugeicons.com/icons/appointment-01-duotone-standard.svg?v=1.0.0"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            role="img"
            color="CurrentColor"
          >
            <path
              opacity="0.4"
              d="M19 4H5C3.89543 4 3 4.89543 3 6V10H21V6C21 4.89543 20.1046 4 19 4Z"
              fill="CurrentColor"
            ></path>
            <path
              d="M16.5 2V6M7.5 2V6"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M21 13V6C21 4.89543 20.1046 4 19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H11"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M3 10H21"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M13 19.5L15.5 22L21 16"
              stroke="CurrentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </svg>
          <span class="text">Referrals</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="dashboard-sidebar__footer">
    <a class="w-100 btn btn-outline--danger" href="#">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-log-out-icon lucide-log-out"
      >
        <path d="m16 17 5-5-5-5"></path>
        <path d="M21 12H9"></path>
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
      </svg>
      Logout
    </a>
  </div>
</aside>
