/* ========================= Alert CSS Start ======================= */
.alert {
  --color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 12px;
  border: 1px solid hsl(var(--color) / 0.15);
  background-color: hsl(var(--color) / 0.15);
  border-radius: 12px;
  margin-bottom: 0;
}

.alert:not(:last-child) {
  margin-bottom: 1rem;
}

.alert__icon {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  padding: 0px !important;
  background: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: calc(var(--size) * 0.5);
  color: hsl(var(--color));
  background-color: hsl(var(--color) / 0.15);
  border: 1px solid hsl(var(--color) / 0.15);
  line-height: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@media screen and (max-width: 575px) {
  .alert__icon {
    --size: 32px;
  }
}

.alert__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.alert__title {
  font-weight: 500;
  margin-bottom: 4px;
  color: hsl(var(--heading-color));
}

.alert__desc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  color: hsl(var(--body-color));
}

.alert .btn--close {
  position: absolute;
  top: 0;
  right: 0;
  color: hsl(var(--color));
}

@media screen and (max-width: 575px) {
  .alert .btn--close {
    --size: 40px;
  }
}

.alert--gradient {
  background: var(--gradient-l-100);
  background-color: unset;
}

.alert--gradient.border--gradient {
  --border-gradient: var(--gradient-l-100);
}

.alert--gradient .alert__icon {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  background-color: unset;
  position: relative;
  z-index: 1;
}

.alert--gradient .alert__icon::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  inset: 0;
  background: var(--gradient-l-100);
  z-index: -1;
}

.alert--gradient .alert__icon.border--gradient {
  --border-gradient: var(--gradient-l-100);
}

.alert--gradient .btn--close::after {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
}

.alert--base {
  --color: var(--base);
}

.alert--base-two {
  --color: var(--base-two);
}

.alert--primary {
  --color: var(--primary);
}

.alert--secondary {
  --color: var(--secondary);
}

.alert--success {
  --color: var(--success);
}

.alert--danger {
  --color: var(--danger);
}

.alert--warning {
  --color: var(--warning);
}

.alert--info {
  --color: var(--info);
}

/* ========================= Alert CSS End ======================= */
