/* ========================= Badge CSS Start ========================= */
.badge {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 100%;
  padding: 6px 12px;
  border-radius: 6px;
  text-align: center;
}

.badge--gradient {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  z-index: 1;
}

.badge--gradient::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: -1;
  background: var(--gradient-l-100);
}

.badge--gradient.border--gradient {
  --border-gradient: var(--gradient-l-100);
}

.badge-outline--gradient {
  color: transparent;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  z-index: 1;
}

.badge-outline--gradient::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  z-index: -1;
  background: var(--gradient-l-100);
}

.badge-outline--gradient.border--gradient {
  --border-gradient: var(--gradient-l-100);
}

.badge--base {
  color: hsl(var(--base));
  background-color: hsl(var(--base) / 0.15);
}

.badge-outline--base {
  color: hsl(var(--base));
  border: 1px solid hsl(var(--base) / 0.15);
  background-color: hsl(var(--base) / 0.15);
}

.badge--base-two {
  background-color: hsl(var(--base-two) / 0.15);
  color: hsl(var(--base-two));
}

.badge-outline--base-two {
  color: hsl(var(--base-two));
  border: 1px solid hsl(var(--base-two) / 0.15);
  background-color: hsl(var(--base-two) / 0.15);
}

.badge--primary {
  background-color: hsl(var(--primary) / 0.15);
  color: hsl(var(--primary));
}

.badge-outline--primary {
  color: hsl(var(--primary));
  border: 1px solid hsl(var(--primary) / 0.15);
  background-color: hsl(var(--primary) / 0.15);
}

.badge--secondary {
  background-color: hsl(var(--secondary) / 0.15);
  color: hsl(var(--secondary));
}

.badge-outline--secondary {
  color: hsl(var(--secondary));
  border: 1px solid hsl(var(--secondary) / 0.15);
  background-color: hsl(var(--secondary) / 0.15);
}

.badge--success {
  color: hsl(var(--success));
  background-color: hsl(var(--success) / 0.15);
}

.badge-outline--success {
  color: hsl(var(--success));
  border: 1px solid hsl(var(--success) / 0.15);
  background-color: hsl(var(--success) / 0.15);
}

.badge--danger {
  background-color: hsl(var(--danger) / 0.15);
  color: hsl(var(--danger));
}

.badge-outline--danger {
  color: hsl(var(--danger));
  border: 1px solid hsl(var(--danger) / 0.15);
  background-color: hsl(var(--danger) / 0.15);
}

.badge--warning {
  background-color: hsl(var(--warning) / 0.15);
  color: hsl(var(--warning));
}

.badge-outline--warning {
  color: hsl(var(--warning));
  border: 1px solid hsl(var(--warning) / 0.15);
  background-color: hsl(var(--warning) / 0.15);
}

.badge--info {
  background-color: hsl(var(--info) / 0.15);
  color: hsl(var(--info));
}

.badge-outline--info {
  color: hsl(var(--info));
  border: 1px solid hsl(var(--info) / 0.15);
  background-color: hsl(var(--info) / 0.15);
}

/* ========================= Badge CSS End ========================= */
