.banner {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 245px;

  @include lg-screen {
    padding-bottom: 210px;
  }

  @include md-screen {
    padding-bottom: 150px;
    padding-top: 158px;
  }

  &__shape {
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -7px;
    z-index: 5;
    display: block;
    color: hsl(var(--section-bg));

    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    pointer-events: none;
    background-color: hsl(var(--black) / 0.7);
  }

  &__thumb {
    margin-top: 40px;
    img {
      height: 100%;
      width: 100%;
    }
  }

  &__bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    user-select: none;
    pointer-events: none;

    video {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__content {
    text-align: center;
  }

  &__title {
    color: hsl(var(--white));
    font-size: 70px;
    font-weight: 700;
    line-height: 1.08;
    margin-bottom: 32px;

    @include xl-screen {
      font-size: 56px;
    }

    @include lg-screen {
      font-size: 45px;
    }

    @include sm-screen {
      font-size: 33px;
    }
    span {
      position: relative;
      z-index: 1;
      color: hsl(var(--base));
    }

    .svg__shape {
      position: absolute;
      left: 0;
      bottom: -22px;
      z-index: -1;
      width: 386px;
      color: hsl(var(--base-two));

      @include xl-screen {
        width: 307px;
      }

      @include lg-screen {
        width: 250px;
      }

      @include sm-screen {
        width: 184px;
      }
    }
  }

  &__desc {
    color: hsl(var(--white) / 0.82);
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 34px;
  }

  &__input {
    max-width: 460px;
    margin: auto;
  }
}
.banner__input {
  display: flex;
  align-items: center;
  background-color: hsl(var(--white) / 0.1);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid hsl(var(--border-color) / 0.5);
  overflow: hidden;
}

.banner__input .form-control {
  border: none;
  border-radius: 0px;
  font-size: 16px;
  background-color: transparent;
  //   backdrop-filter: blur(10px);
  color: hsl(var(--white));
}

.banner__input .form-control:focus {
  border-color: hsl(var(--base)) !important;
}

.banner__input .form-control::placeholder {
  color: hsl(var(--white) / 0.5);
  font-style: 16px;
}

.search__btn {
  background-color: hsl(var(--base));
  color: hsl(var(--white));
  margin: 6px;
  border-radius: 12px;
  white-space: nowrap;
  padding: 10px 14px;
}

@keyframes topBottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
