/* ======================  Brand Section Start  ======================*/
.brand__area {
  background-color: hsl(var(--black));
  padding-block: 20px;
}

@media screen and (max-width: 1199px) {
  .brand__area {
    padding-block: 30px;
  }
}

[data-theme='dark'] .brand__area {
  background-color: hsl(var(--black) / 0.1);
}

.slide-transition {
  transition-timing-function: linear;
}

.brand__slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand__slider .swiper-slide img {
  width: 100%;
  filter: invert(1) brightness(100);
}

/* ======================  Brand Section End  ======================*/
