/* ======================  Brand Section Start  ======================*/

.banner .brand__area {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 33px;
  z-index: 6;
}

.slide-transition {
  transition-timing-function: linear;
}

.brand__slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand__slider .swiper-slide img {
  width: 100%;
  filter: invert(1) brightness(100);
}
.brand__wrap {
  background-color: hsl(var(--base));
  padding: 40px;
  border-radius: 8px;
  border: 10px solid hsl(var(--section-bg));
  border-radius: 502px;
}
/* ======================  Brand Section End  ======================*/
